<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>General Manager</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body>
<div align="center">
    <nav>
        <div class="nav nav-tabs col-md-12" id="nav-tab" style="height:100px" role="tablist">
            <form id="form_logout" th:action="@{/logout}" method="post">
                <a href="javascript:{}" onclick="document.getElementById('form_logout').submit();"><img
                        th:src="@{/images/logout.png}" width="50px"/></a>
                <!--                <button type="submit" value="Logout" role="tab" aria-selected="true">LogOut-->
                <!--                </button>-->
            </form>
        </div>
    </nav>
    <form id="search_company" th:action="@{/search_company}" method="get">
        <b>Company Code</b>
        <input type="text" name="companyCode" style="margin-left: 10px"/>
        <b style="margin-left: 20px">Company Name</b>
        <input type="text" name="companyName" style="margin-left: 10px"/>
        <button type="submit" class="btn btn-primary" value="Search" style="margin-left: 20px">Search</button>
    </form>
    <br/><br/>
    <a href="new_company" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Create New Company</a>
    <br/><br/>
    <h1>Company List</h1>
    <table border="1" cellpadding="10">
        <thead>
        <tr class="table-primary">
            <th>Company ID</th>
            <th>Company Code</th>
            <th>Company Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${listCompany.page}">
            <td th:text="${company.id}">Company ID</td>
            <td th:text="${company.code}">Company Code</td>
            <td th:text="${company.name}">Company Name</td>
            <td th:text="${company.description}">Description</td>
            <td>
                <a th:href="@{'/view/' + ${company.id}}">View</a>
                <a th:href="@{'/edit/' + ${company.id}}">Edit</a>
                <a th:href="@{'/delete/' + ${company.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation" class="paging">
        <ul class="pagination" th:if="${listCompany.page.totalPages > 1}">
            <li class="page-item" th:classappend="${!listCompany.paging.isPrevEnabled()? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/?pageNumber=' + ${listCompany.paging.pageNumber - 1}}"
                   tabindex="-1">Previous</a>
            </li>
            <th:block th:each="item : ${listCompany.paging.getItems()}">
                <li class="page-item" th:classappend="${item.index == listCompany.paging.pageNumber? 'active' : ''}"
                    th:if="${item.pageItemType.name() == 'PAGE'}">
                    <a class="page-link" th:href="@{'/?pageNumber=' + ${item.index}}"
                       th:text="${item.index}"></a>
                </li>
                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                    <a class="page-link" href="#">...</a>
                </li>
            </th:block>
            <li class="page-item" th:classappend="${!listCompany.paging.isNextEnabled()? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/?pageNumber=' + ${listCompany.paging.pageNumber + 1}}">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>