<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Member Manager</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body>
<div align="center">
    <nav>
        <div class="nav nav-tabs col-md-12" id="nav-tab" role="tablist">
            <form id="form_logout" th:action="@{/logout}" method="post">
                <a href="javascript:{}" onclick="document.getElementById('form_logout').submit();"><img th:src="@{/images/logout.png}" width="50px"/></a>
                <!--                <button type="submit" value="Logout" role="tab" aria-selected="true">LogOut-->
                <!--                </button>-->
            </form>
        </div>
    </nav>
    <h1>Member List</h1>
    <a href="new" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Create New Member</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr class="table-primary">
            <th>Member ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Department</th>
            <th>Company</th>
            <th>Phone</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${listMembers}">
            <td th:text="${member.id}">Member ID</td>
            <td th:text="${member.name}">Name</td>
            <td th:text="${member.position}">Position</td>
            <td th:text="${member.department}">Department</td>
            <td th:text="${member.company}">Company</td>
            <td th:text="${member.phone}">Phone</td>
            <td th:text="${member.description}">Description</td>
            <td>
                <a th:href="@{'/view/' + ${member.id}}">View</a>
                <a th:href="@{'/edit/' + ${member.id}}">Edit</a>
                <a th:href="@{'/delete/' + ${member.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>