<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Company</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body>
<div align="center">
    <nav>
        <div class="nav nav-tabs col-md-12" id="nav-tab" style="height:100px" role="tablist">
            <form id="form_logout" th:action="@{/logout}" method="post">
                <a href="javascript:{}" onclick="document.getElementById('form_logout').submit();"><img
                        th:src="@{/images/logout.png}" width="50px"/></a>
                <!--                <button type="submit" value="Logout" role="tab" aria-selected="true">LogOut-->
                <!--                </button>-->
            </form>
        </div>
    </nav>
    <h1>Create New Company</h1>
    <br/>
    <div class="alert alert-danger" role="alert" th:utext="${errorMessage}" th:if="${errorMessage != null}">
    </div>
    <form action="#" th:action="@{/save_company}" th:object="${company}"
          method="post" enctype="multipart/form-data">

        <table border="0" cellpadding="10">
            <tr>
                <td>Company Code:</td>
                <td><input type="text" th:field="*{code}"/></td>
            </tr>
            <tr>
                <td>Company Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" th:field="*{description}"/></td>
            </tr>
            <tr>
                <td>User Name:</td>
                <td><input type="text" th:field="*{username}"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" th:field="*{password}"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>