<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Edit Member</title>
</head>
<body>
<div align="center">
    <h1>Edit Member</h1>
    <br/>
    <form action="#" th:action="@{/save}" th:object="${member}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Member ID:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly"/>
                </td>
            </tr>
            <tr>
                <td>Member Name:</td>
                <td>
                    <input type="text" th:field="*{name}"/>
                </td>
            </tr>
            <tr>
                <td>Position:</td>
                <td><input type="text" th:field="*{position}"/></td>
            </tr>
            <tr>
                <td>Department:</td>
                <td><input type="text" th:field="*{department}"/></td>
            </tr>
            <tr>
                <td>Company:</td>
                <td><input type="text" th:field="*{company}"/></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input type="text" th:field="*{phone}"/></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" th:field="*{description}"/></td>
            </tr>
            <tr>
                <td>Video:</td>
                <td th:each="path : ${member.videosPath}">
                    <video width="320" height="240" controls>
                        <source th:src="@{${path}}" type=video/mp4>
                    </video>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>